In [81]:
def importlibrerias():
    
    '''Importamos las librerias '''
import pandas as pd
from sklearn import tree
import pydotplus
from sklearn.tree import DecisionTreeClassifier
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
import seaborn as sn
import pandas as pd
import numpy as np
from numpy import array

print(importlibrerias.__doc__)

Importamos las librerias

In [82]:
def carga():
            
    '''Cargamos el dataset con extension de archivo csv'''

df = pd.read_csv("CollegeDistance.csv" )
df.head(10)

print(carga.__doc__)

Cargamos el dataset con extension de archivo csv

In [83]:
df

,Unnamed: 0,gender,ethnicity,score,fcollege,mcollege,home,urban,unemp,wage,distance,tuition,education,income,region
0,1,male,other,39.150002,yes,no,yes,yes,6.2,8.09,0.2,0.88915,12,high,other
1,2,female,other,48.869999,no,no,yes,yes,6.2,8.09,0.2,0.88915,12,low,other
2,3,male,other,48.740002,no,no,yes,yes,6.2,8.09,0.2,0.88915,12,low,other
3,4,male,afam,40.400002,no,no,yes,yes,6.2,8.09,0.2,0.88915,12,low,other
4,5,female,other,40.480000,no,no,no,yes,5.6,8.09,0.4,0.88915,13,low,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4734,9391,male,afam,56.529999,no,no,yes,no,6.6,8.89,0.8,0.25751,13,high,west
4735,9401,male,afam,59.770000,no,no,yes,no,6.6,8.89,0.8,0.25751,15,high,west
4736,9411,male,other,43.169998,no,no,yes,no,6.6,8.89,0.8,0.25751,12,high,west
4737,9421,male,afam,49.970001,yes,yes,yes,no,6.6,8.89,0.8,0.25751,16,high,west
4738,9431,male,afam,53.410000,no,yes,yes,no,6.6,8.89,0.8,0.25751,13,high,west

In [84]:
def DatosNulos():
    
    '''Distribuir los valores alfanumericos del dataset escogiddo en numericos por medio  de la tecnica de reemplazo de valores'''
    
d1 = {'other': 0, 'afam': 1, 'hispanic':2}
df['ethnicity'] = df['ethnicity'].map(d1)
d2 = {'female': 0, 'male': 1}
df['gender'] = df['gender'].map(d2)
d3 = {'yes': 0, 'no': 1}
df['fcollege'] = df['fcollege'].map(d3)
d4 = {'yes': 0, 'no': 1}
df['mcollege'] = df['mcollege'].map(d4)
d6 = {'yes': 0, 'no': 1}
df['home'] = df['home'].map(d6)
d7 = {'yes': 0, 'no': 1}
df['urban'] = df['urban'].map(d7)
d8 = {'high': 0, 'low': 1}
df['income'] = df['income'].map(d8)
d9 = {'other': 0, 'west': 1}
df['region'] = df['region'].map(d9)

print(df)

print(DatosNulos.__doc__)

      Unnamed: 0  gender  ethnicity      score  fcollege  mcollege  home  \
0              1       1          0  39.150002         0         1     0
1              2       0          0  48.869999         1         1     0
2              3       1          0  48.740002         1         1     0
3              4       1          1  40.400002         1         1     0
4              5       0          0  40.480000         1         1     1
...          ...     ...        ...        ...       ...       ...   ...
4734        9391       1          1  56.529999         1         1     0
4735        9401       1          1  59.770000         1         1     0
4736        9411       1          0  43.169998         1         1     0
4737        9421       1          1  49.970001         0         0     0
4738        9431       1          1  53.410000         1         0     0

      urban  unemp  wage  distance  tuition  education  income  region
0         0    6.2  8.09       0.2  0.88915         12       0       0
1         0    6.2  8.09       0.2  0.88915         12       1       0
2         0    6.2  8.09       0.2  0.88915         12       1       0
3         0    6.2  8.09       0.2  0.88915         12       1       0
4         0    5.6  8.09       0.4  0.88915         13       1       0
...     ...    ...   ...       ...      ...        ...     ...     ...
4734      1    6.6  8.89       0.8  0.25751         13       0       1
4735      1    6.6  8.89       0.8  0.25751         15       0       1
4736      1    6.6  8.89       0.8  0.25751         12       0       1
4737      1    6.6  8.89       0.8  0.25751         16       0       1
4738      1    6.6  8.89       0.8  0.25751         13       0       1

[4739 rows x 15 columns]
Distribuir los valores alfanumericos del dataset escogiddo en numericos por medio  de la tecnica de reemplazo de valores

In [85]:
def defCaracteristicas():
    
    '''Elegimos las caracteristicas'''
features = ['gender', 'ethnicity', 'score', 'mcollege','home','urban','unemp','wage','distance','tuition','education','region']
X = df[features]
print(defCaracteristicas.__doc__)

Elegimos las caracteristicas

In [86]:
def defObjetivo():
    
    '''Elegimos nuestra objetivo, es decir la columna con los valores que intentamos predecir.'''
y = df['income']
print(defObjetivo.__doc__)

Elegimos nuestra objetivo, es decir la columna con los valores que intentamos predecir.

In [92]:
def mostrarvalores():
    
    ''' Imprimimos nuestros valores de X y de y '''
    
print(X, y, sep='\n\n')
print(mostrarvalores.__doc__)

      gender  ethnicity      score  mcollege  home  urban  unemp  wage  \
0          1          0  39.150002         1     0      0    6.2  8.09
1          0          0  48.869999         1     0      0    6.2  8.09
2          1          0  48.740002         1     0      0    6.2  8.09
3          1          1  40.400002         1     0      0    6.2  8.09
4          0          0  40.480000         1     1      0    5.6  8.09
...      ...        ...        ...       ...   ...    ...    ...   ...
4734       1          1  56.529999         1     0      1    6.6  8.89
4735       1          1  59.770000         1     0      1    6.6  8.89
4736       1          0  43.169998         1     0      1    6.6  8.89
4737       1          1  49.970001         0     0      1    6.6  8.89
4738       1          1  53.410000         0     0      1    6.6  8.89

      distance  tuition  education  region
0          0.2  0.88915         12       0
1          0.2  0.88915         12       0
2          0.2  0.88915         12       0
3          0.2  0.88915         12       0
4          0.4  0.88915         13       0
...        ...      ...        ...     ...
4734       0.8  0.25751         13       1
4735       0.8  0.25751         15       1
4736       0.8  0.25751         12       1
4737       0.8  0.25751         16       1
4738       0.8  0.25751         13       1

[4739 rows x 12 columns]

0       0
1       1
2       1
3       1
4       1
       ..
4734    0
4735    0
4736    0
4737    0
4738    0
Name: income, Length: 4739, dtype: int64
 Imprimimos nuestros valores de X y de y

 Creamos  el Ã rbol de decisiÃ²n

 Guardamos el  arbol mediante una imagen