In [20]:
def importlibrerias():
    
    '''Importamos las librerias '''
from sklearn import tree
import pydotplus
from sklearn.tree import DecisionTreeClassifier
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
import pandas as pd

print(importlibrerias.__doc__)

Importamos las librerias

In [23]:
def carga():
            
    '''Cargamos el dataset con extension de archivo csv'''

df = pd.read_csv("international-migration-march-2022-estimated-migration-by-age-sex.csv" )
df.head(10)

print(carga.__doc__)

Cargamos el dataset con extension de archivo csv

In [25]:
df

,year_month,month_of_release,passenger_type,direction,sex,age,estimate,standard_error,status
0,2020-09,2022-01,Long-term migrant,Arrivals,Female,0-4 years,220,0,Final
1,2020-10,2022-02,Long-term migrant,Arrivals,Female,0-4 years,213,0,Final
2,2020-11,2022-03,Long-term migrant,Arrivals,Female,0-4 years,198,0,Final
3,2020-12,2022-03,Long-term migrant,Arrivals,Female,0-4 years,208,0,Provisional
4,2021-01,2022-03,Long-term migrant,Arrivals,Female,0-4 years,191,0,Provisional
...,...,...,...,...,...,...,...,...,...
45370,2020-05,2021-09,Long-term migrant,Net,Female,TOTAL,189,0,Final
45371,2020-05,2021-09,Long-term migrant,Net,Male,TOTAL,184,0,Final
45372,2020-05,2021-09,Long-term migrant,Arrivals,TOTAL,TOTAL,1381,0,Final
45373,2020-05,2021-09,Long-term migrant,Departures,TOTAL,TOTAL,1008,0,Final
45374,2020-05,2021-09,Long-term migrant,Net,TOTAL,TOTAL,373,0,Final

In [26]:
def DatosNulos():
    
    '''Distribuir los valores alfanumericos del dataset escogiddo en numericos por medio  de la tecnica de reemplazo de valores'''
d1 = {'Arrivals': 0, 'Departures': 1, 'Net': 2}
df['direction'] = df['direction'].map(d1)
d2 = {'Female': 0, 'Male': 1, 'TOTAL': 2}
df['sex'] = df['sex'].map(d2)
d3 = {'Final': 0, 'Provisional': 1}
df['status'] = df['status'].map(d3)
d4 = {'Long-term migrant': 1}
df['passenger_type'] = df['passenger_type'].map(d4)

print(df)

print(DatosNulos.__doc__)

      year_month month_of_release  passenger_type  direction  sex        age  \
0        2020-09          2022-01               1          0    0  0-4 years
1        2020-10          2022-02               1          0    0  0-4 years
2        2020-11          2022-03               1          0    0  0-4 years
3        2020-12          2022-03               1          0    0  0-4 years
4        2021-01          2022-03               1          0    0  0-4 years
...          ...              ...             ...        ...  ...        ...
45370    2020-05          2021-09               1          2    0      TOTAL
45371    2020-05          2021-09               1          2    1      TOTAL
45372    2020-05          2021-09               1          0    2      TOTAL
45373    2020-05          2021-09               1          1    2      TOTAL
45374    2020-05          2021-09               1          2    2      TOTAL

       estimate  standard_error  status
0           220               0       0
1           213               0       0
2           198               0       0
3           208               0       1
4           191               0       1
...         ...             ...     ...
45370       189               0       0
45371       184               0       0
45372      1381               0       0
45373      1008               0       0
45374       373               0       0

[45375 rows x 9 columns]
Distribuir los valores alfanumericos del dataset escogiddo en numericos por medio  de la tecnica de reemplazo de valores

In [27]:
def defCaracteristicas():
    
    '''Elegimos las caracteristicas'''
features = ['year_month', 'month_of_release', 'passenger_type', 'direction','sex','estimate','standard_error']
X = df[features]
print(defCaracteristicas.__doc__)

Elegimos las caracteristicas

In [28]:
def defObjetivo():
    
    '''Elegimos nuestra objetivo, es decir la columna con los valores que intentamos predecir.'''
y = df['status']
print(defObjetivo.__doc__)

Elegimos nuestra objetivo, es decir la columna con los valores que intentamos predecir.

In [31]:

    
    ''' Imprimimos nuestros valores de X y de y '''

IndentationError: unexpected indent (Temp/ipykernel_10552/366627833.py, line 7)